// ===================== Rubik Fonts ===========================

@font-face {
  font-family: "rubikLight";
  src: url("../fonts/Rubik-Light.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikRegular";
  src: url("../fonts/Rubik-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikBold";
  src: url("../fonts/Rubik-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
