// ===================== Rubik Fonts ===========================

@font-face {
  font-family: "rubikLight";
  src: url("../fonts/Rubik-Light.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikRegular";
  src: url("../fonts/Rubik-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubikBold";
  src: url("../fonts/Rubik-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PermanentMarker";
  src: url("../fonts/PermanentMarker-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuickSandLight";
  src: url("../fonts/Quicksand-Light.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuickSandMedium";
  src: url("../fonts/Quicksand-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuickSandBold";
  src: url("../fonts/Quicksand-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  body {
    font-family: "rubikRegular";
  }
}
