html {
  body {
    .is-col-green {
      color: $primary-green;
    }
    .is-bg-green {
      background-color: $primary-green;
    }
    .is-col-red {
      color: $primary-red;
    }

    .is-col-blue {
      color: $primary-blue;
    }

    .is-col-purple {
      color: $custom-purple;
    }
    .is-col-reverse {
      flex-direction: row-reverse;
    }

    .is-col-yellow {
      color: $primary-yellow;
    }

    .is-rubik-light {
      font-family: "rubikLight";
    }

    .is-rubik-regular {
      font-family: "rubikRegular";
    }

    .is-rubik-bold {
      font-family: "rubikBold";
    }
    .is-Qlight {
      font-family: "QuickSandLight";
    }
    .is-Qmedium {
      font-family: "QuickSandMedium";
    }

    .is-Qbold {
      font-family: "QuickSandBold";
    }

    .is-permMarker {
      font-family: "PermanentMarker";
    }
  }
}
