$primary-red: #ff512f;
$primary-green: #41a394;
$primary-blue: #4d8dff;
$primary-yellow: #e7c12d;

$custom-light-purple: #f3eaf5;
$custom-purple: #633991;

$facebook-color: #3b5998;
$twitter-color: #00acee;
$instagram-color: #3f729b;

$bp-mob: 420px;
// tablet
$bp-tab: 768px;
// desktop
$bp-dsk: 1024px;
// fullhd
$bp-fhd: 1440px;
